services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/workspaces:cached
    command: sleep infinity
    env_file:
      - .env
    dns:
      - 8.8.8.8
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - GITLAB_TOKEN=${GITLAB_PERSONAL_ACCESS_TOKEN}
      - GITLAB_HOST=${GITLAB_HOST}
      - CONTEXT7_API_KEY=${CONTEXT7_API_KEY}
